@charset "UTF-8";

#login_box {
    width: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
}

#login_box input[type="text"], 
#login_box input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

#login_box input[type="button"] {
    width: 48%;
    cursor: pointer;    
}

#login_box input[type="submit"] {
    width: 48%;
    margin-right: 4%;
    cursor: pointer;    
}

#login_box_logo {
	width: 150px;
	height: 150px;
}

.user a {	
	text-decoration: none;
	color: #EEEEEE;
}