@charset "UTF-8";

#login_box {
    width: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
}

#login_box input[type="text"], 
#login_box input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

#login_box input[type="button"] {
    width: 48%;
    cursor: pointer;    
}

#login_box input[type="submit"] {
    width: 48%;
    margin-right: 4%;
    cursor: pointer;    
}

#login_box_logo {
	width: 150px;
	height: 150px;
}

.user a {	
	text-decoration: none;
	color: #EEEEEE;
}

/* 로그인 회원구분 버튼 시작 */

/* 실제 라디오 버튼은 숨김 */

input[type="radio"] {
    display: none;
}

.login-type-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden; /* 테두리 밖으로 배경 안나가게 */
    margin: 0 auto;
}

.type-label {
    flex: 1;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

/* 라디오가 체크되었을 때의 라벨 스타일 (이미지처럼 검정 배경) */
input[type="radio"]:checked + .type-label {
    background-color: #000;
    color: #fff;
}

/* 로그인 회원구분 버튼 끝 */