@charset "UTF-8";

.product {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 70%;
	gap: 20px;
}

/* 판매가격 */
.sale_price {
	color: #3F3F3F;
	size: 25px;
}

/* 원래가격 */
.origin_price {
	color: #919191;
	size: 15px;
	text-decoration : line-through
}

/* 할인율 */
.discount_rate {
	color: #C33333;
	size: 25px;
}

/* 판매가격 */
.sale_price_detail {
	color: #3F3F3F;
	size: 40px;
}

/* 원래가격 */
.origin_price_detail {
	color: #919191;
	size: 25px;
	text-decoration : line-through
}

/* 할인율 */
.discount_rate_detail {
	color: #C33333;
	size: 40px;
}


#product_info {
	width: 500px;
}

.product_img {
	width: 200px;
	height: 200px; 
}

.product_detail {
	display: grid;
	grid-template-columns: 3fr 4fr;
	width: 70%;
	gap: 10px;
}

#product_detail_img {
	width: 400px;
	height: 400px;
	border-radius: 5%; 
}

#main_img {
	float:left;
	margin:10px;
}

#product_info {
	display:inline-block;
	margin:10px;
}

.info_title {
	
}

.info_detail {
	
}

.purchase_button {
	display: grid;
	grid-template-columns: 3fr 3fr 1fr;
	gap: 10px;
}

.button {
	display: inline-block;
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #db6b30;
	text-align: center;
	border: 1px solid #db6b30;
	background-color: #EEEEEE;
	border-radius: 5px;
}

.icon_box {
	display: flex;
	width: 40px;
	height: 40px;
	justify-content: center; /* 가로 중앙 */
	align-items: center;     /* 세로 중앙 */
	border: 1px solid #B0B0B0;
	background-color: #EEEEEE;
	border-radius: 5px;
}

.icon {
	width: 35px;
	height: 35px;
}