@charset "UTF-8";
header{
	background-color:#5252A0;
	height:70px;
	line-height:70px;
	text-align:left;
	vertical-align:middle;
	color:#ffffff;
}
header > a {
	margin-left: 15px;
	vertical-align:middle;
	text-size:20px;
}

body{
	margin:0;
}
nav{
 background-color:#7A7ACC;
 height:30px;
 line-height:30px;
 vertical-align:middle;
}
section{
	min-height:1200px;
	background-image: url('resources/img/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
footer{
	background-color:#5252A0;
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	vertical-align:middle;
	color:#ffffff;
}
img{
	vertical-align:middle;
	width: 50px;
	height: 50px;
}
a{
	font-size: 14px;
	text-decoration: none;
	color: #EEEEEE;
}

.user {
	float: right;
	margin-right: 20px;
}