@charset "UTF-8";
header{
	background-color:#5252A0;
	height:70px;
	line-height:70px;
	text-align:left;
	vertical-align:middle;
	color:#ffffff;
}
header > a {
	margin-left: 15px;
	vertical-align:middle;
	text-size:20px;
}

body{
	margin:0;
}
nav{
	background-color:#7A7ACC;
	height:30px;
	line-height:30px;
	vertical-align:middle;
}

section {
    /* 배경색을 제거하거나 아주 연하게 변경 (이미지가 잘 보이도록) */
    background-color: rgba(194, 194, 202, 0.3); 
    min-height: 600px;
    
    /* 가상 요소(::before)가 위치를 잡을 수 있도록 기준점 설정 */
    position: relative; 
    overflow: hidden; /* 이미지가 section 밖으로 삐져나가지 않게 방지 */
}

/* section 본문 뒤에 희미하게 깔릴 이미지 설정 */
.list_section::before {
    content: "";
    /* 이미지 경로는 CSS 파일 위치 기준으로 잡거나 절대경로 사용 */
    background-image: url('https://raw.githubusercontent.com/DaegeunYu/Spring80ShopImg/refs/heads/main/background_list.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* 투명도 조절 */
    opacity: 0.2; 
    
    /* section 전체를 덮도록 설정 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* 배경으로 깔기 */
}

.list_section::before {
    content: "";
    /* 이미지 경로는 CSS 파일 위치 기준으로 잡거나 절대경로 사용 */
    background-image: url('https://raw.githubusercontent.com/DaegeunYu/Spring80ShopImg/refs/heads/main/background_detail.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* 투명도 조절 */
    opacity: 0.2; 
    
    /* section 전체를 덮도록 설정 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* 배경으로 깔기 */
}

/* section 안의 실제 글자들이 배경 이미지에 묻히지 않도록 설정 */
section * {
    position: relative;
    z-index: 1;
}

footer{
	background-color:#5252A0;
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	vertical-align:middle;
	color:#ffffff;
}

nav > a {
	font-size: 14px;
	text-decoration: none;
	color: #EEEEEE;
}

#logo {
	width: 60px;
	height: 60px;
}

.user {
	float: right;
	margin-right: 20px;
}

.product {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 70%;
	gap: 20px;
}

/* 판매가격 */
.sale_price {
	color: #3F3F3F;
	size: 25px;
}

/* 원래가격 */
.origin_price {
	color: #919191;
	size: 15px;
	text-decoration : line-through
}

/* 할인율 */
.discount_rate {
	color: #C33333;
	size: 25px;
}

/* 판매가격 */
.sale_price_detail {
	color: #3F3F3F;
	size: 40px;
}

/* 원래가격 */
.origin_price_detail {
	color: #919191;
	size: 25px;
	text-decoration : line-through
}

/* 할인율 */
.discount_rate_detail {
	color: #C33333;
	size: 40px;
}


#product_info {
	width: 500px;
}

.product_img {
	width: 200px;
	height: 200px; 
}

.product_detail {
	display: grid;
	grid-template-columns: 3fr 4fr;
	width: 70%;
	gap: 10px;
}

#product_detail_img {
	width: 400px;
	height: 400px;
	border-radius: 5%; 
}

#main_img {
	float:left;
	margin:10px;
}

#product_info {
	display:inline-block;
	margin:10px;
}

.info_title {
	
}

.info_detail {
	
}




/* 로그인 */

#login_box {
    width: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
}

#login_box input[type="text"], 
#login_box input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}


#login_box input[type="button"] {
    width: 48%;
    margin-right: 4%;
    cursor: pointer;
}
#login_box input[type="submit"] {
    width: 48%;
    cursor: pointer;
}
#login_box_logo {
	width: 150px;
	height: 150px;
}

.user a {	
	text-decoration: none;
	color: #EEEEEE;
}
